.header {
  display: flex;
  justify-content: space-evenly;
  height: 9rem;
  margin-bottom: 3rem;
  a.header-h1 {
    margin: 0;
    align-self: flex-end;
    h1{
        font-size: 3rem
    }
  }
  .navigation {
    display: flex;
    gap: 3rem;
    align-self: flex-start;
    margin-top: 0.2rem;
    a.nav-link {
        display: flex;
        gap: 0.5rem;
      font-size: 1.2rem;
      transition: 0.3s ease;
      img.arrow{
        align-self: center;
        position: relative; /* Allows for smooth movement */
        transition: left 0.3s ease;
      }
      &:hover{
        font-weight: 600;
        img.arrow{
            left: 0.5rem;
        }
      }
    }
  }
}
