.header {
  display: flex;
  justify-content: space-between;
  height: 9rem;
  a.header-h1 {
    margin: 0;
    align-self: flex-end;
    h1{
        font-size: 2.5rem
    }
  }
  .navigation {
    display: flex;
    gap: 3rem;
    align-self: flex-start;
    a.nav-link {
        display: flex;
        gap: 0.5rem;
      font-size: 1.5rem;
      transition: 0.3s ease;
      img.arrow{
        align-self: center;
      }
      img.arrow-long{
       display: none;
      }
      &:hover{
        img.arrow{
            padding-left: 0.5rem;
        }
      }
    }
  }
}
