@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

:root {
 --text-color: #1e1e1e;
 --button-random: #5B0090;
 --modal-color: #FFFDF5;
--font-h: "Tourney", sans-serif;
--font-text: "Inter", sans-serif;

background: rgb(255,228,228);
background: no-repeat radial-gradient(circle at 50% 30%, #ffe4e4 1%, #fff0df 29%, #fff0df 30%, #fffdf5 35%, #fff0df 40%, #fffdf5 45%, #fffdf5 100%);
background-size: contain;

margin: 0;
padding: 0;
box-sizing: border-box;
}

#root{
    display: flex;
    flex-direction: column;
}
main{
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 6rem auto;
}


h1, a, h2, h3 {
 font-family: var(--font-h);
 font-weight: 500;
 color: var(--text-color);
 text-decoration: none;
}

p{
    font-family: var(--font-text);
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
}

.btn{
    display: flex;
    align-items: center;
button.btn-primary{
    appearance: none;
    cursor: pointer;
    font-family: var(--font-h);
    font-size: 1.5rem;
    border: none;
    background-color: #fffdf500;
    font-weight: 500;
    transition: left 0.3s ease;
   }
   img{
    position: relative; /* Allows for smooth movement */
    transition: left 0.3s ease;
    height: 24px;
  }
  &:hover{
    button{
    font-weight: 600;
    }
    img{
        left: 0.5rem;
    }
  }
}

p{
    font-family: var(--font-text);
}



